body {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #d5d5d5;
}

.container {
    width: 1600px;
}

header {
    width: 1600px;
    height: 100%;
    background-image: url("img/bgd/bg.png");
}

.container-header {
    width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.logo, .toplink, .top-right {
    width: 33.3333333%;
}

.title {
    width: 80%;
}

.toplink {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-item {
    padding: 20px;
}

.top-item a {
    font-size: 14px;
}


/*********the ticket*********************/

.top-right {
    align-items: flex-end;
    background-image: url('img/bgd/ticket-repeat.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6em;
    width: 19em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.torn {
    margin-top: 0.7em;
    width: inherit;
    z-index: -1;
    padding-left: 1em;
}


/***********nav inside the header**********************/

.container-header, .menu-socks {
    width: 1160px;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.container-header:last-child {
    padding-top: 2em;
}

.menu-socks, .nav-item {
    padding: .22em;
    margin-right: .4em;
    padding-bottom: 0;
}

.nav-item {
    border-radius: 5px 5px 0 0;
    background-color: gray;
    opacity: 0.3;
}

.menu-socks .item {
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 1px solid black;
    border-radius: 10%;
    margin-right: 1em;
}

.item {
    margin-right: 0.3em;
}

.nav-item {
    display: inline-block;
}

.nav-item img {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 8px;
}


/*************hover the socks****************/

.sock:hover {
    transition: all .7s linear;
    transform: translateY(-10px);
}


/*****************the text*********************/

.nav-city span strong {
    display: inline-block;
}

strong {
    font-size: 1.42em;
    line-height: 1.2em;
}

.nav-sub {
    font-size: 11px;
    white-space: nowrap;
}

strong, .nav-sub:hover {
    color: black;
}


/******main************/

main {
    width: 1600px;
    height: 3814px;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.container-articles {
    width: 1160px;
    height: 3753px;
    align-self: center;
}

.price {
    background-image: url("img/bgd/bg.png");
}


/*********footer**********************/

footer {
    width: 1600px;
    height: 278px;
    background-color: yellow;
}


/*********media query************/

@media (max-width:992px) {
    .container {
        width: 960px;
    }
}

@media (max-width:768px) {
    .container {
        width: 740px;
        color: green;
    }
    .top-right {
        display: none;
    }
}
