body {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #d5d5d5;
}

.container {
    width: 1600px;
}

header {
    width: 1600px;
    height: 100%;
    background-image: url("img/bgd/bg.png");
    z-index: -1;
}

.container-header {
    width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.logo, .toplink, .top-right {
    width: 33.3333333%;
}

.logo, .toplink {
    width: 33.3333333%;
}


/****the logo**********************/

.logo, .logo-title {
    /*background: url('img/logo.svg') no-repeat 0 30%;*/
    width: 300px;
}

.logo {
    height: 100px;
    margin-top: 10px;
}

.logo-tile {
    height: 50%;
}


/*******top menu*********************/

.toplink {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 8em;
}

.top-item a:hover {
    background-color: white;
    border-radius: 5px 5px 5px 0;
}

.top-item a {
    padding: 5px 14px;
    font-size: 18px;
    color: #000;
}


/*********the ticket*********************/

.top-right {
    background-image: url('img/bgd/ticket-repeat.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6em;
    width: 27em;
    margin-left: 10em;
    text-align: center;
    z-index: 0;
}

.country, option {
    float: left;
    margin-top: 5px;
    margin-left: 1.6em;
    padding: 2px 4px 3px 4px;
    background-color: red;
    text-transform: uppercase;
    color: #ffe5e3;
    background-color: #c47b81;
    width: 50px;
    height: 20px;
    font-size: 10px;
}

option {
    opacity: 0.5;
    transition: all 0.3s;
}

.country {
    display: block;
}

.clearfix {
    clear: both;
}

.content-ticket {
    margin-top: 10px;
    background: url('img/bgd/stabilo.png') no-repeat 45% 0;
}

.content-ticket, .buy {
    color: #c47b81;
}

.buy {
    margin-top: 0;
    margin-bottom: 5px;
}

.free-order {
    color: #000;
}

.number {
    float: left;
    margin-top: -10px;
    margin-left: 1em;
    font-size: 3rem;
    font-weight: bold;
    color: #c47b81;
}

.paper {
    text-decoration: underline;
    color: inherit;
}

.torn {
    margin-top: 0.2em;
    width: inherit;
    z-index: -1;
}


/***********nav inside the header**********************/

.container-header, .menu-socks {
    width: 1160px;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.container-header:last-child {
    padding-top: 1em;
    margin-bottom: -0.7em;
}

.menu-socks, .nav-item {
    padding: .4em;
    margin-right: .45em;
    padding-right: 1.34em;
}

.nav-item {
    border-radius: 5px 5px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    color: #a2a2a2;
}

strong {
    color: #a2a2a2 !important;
    font-style: italic;
}

.menu-socks .item {
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 1px solid black;
    border-radius: 10%;
    margin-right: 1em;
}

.item {
    margin-right: 0.3em;
}

.nav-item {
    display: inline-block;
}

.nav-item img {
    width: 58px;
    float: left;
    margin-right: 8px;
}


/*************hover the socks****************/

.sock:hover {
    transition: all .7s linear;
    transform: translateY(-10px);
}


/*****************the text*********************/

.nav-city span strong {
    display: inline-block;
}

strong {
    font-size: 1.42em;
    line-height: 1.2em;
}

.nav-sub {
    font-size: 11px;
    white-space: nowrap;
}

strong, .nav-sub:hover {
    color: black;
}


/******main************/

main {
    width: 1600px;
    height: 3814px;
    display: flex;
    justify-content: center;
    margin-top: -1.9em;
    background: url('img/bgd/bg2.png') no-repeat 0 40%;
}

.container-articles {
    width: 1140px;
    height: 3753px;
    align-self: center;
    background-color: red;
}

.price {
    background-image: url("img/bgd/bg.png");
    padding: 5px 10px;
    margin-left: 10.3em;
}

.product-socks {
    padding: 20px 0;
}


/*********the list of size under the img*****************/

h1 {
    margin-bottom: 0;
}

.size-socks {
    text-align: center;
    background-color: red;
}

.all-size {
    padding: 0;
}

.size-socks, .all-size, .size {
    background-color: green;
    display: inline-block;
}

.top {
    display: inline-block;
    float: left;
    background-color: blue;
}
.clearfix {
  clear: both;
}
.bottom {
    border-top: solid black 1px;
    display: inline-block;
    clear: left;
    float: left;
    background-color: orange;
}

.lign {
    border: 1px solid black;
    transform: rotate(90deg);
    transform: -webkit-rotate(90deg);
}


/*********footer**********************/

footer {
    width: 1600px;
    height: 278px;
    background-color: yellow;
}


/*********media query************/

@media (max-width:992px) {
    .container {
        width: 960px;
    }
}

@media (max-width:768px) {
    .container {
        width: 740px;
        color: green;
    }
    .top-right {
        display: none;
    }
}
