body {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #d5d5d5;
}

.container {
    width: 1600px;
}

header {
    width: 1600px;
    height: 100%;
    background-image: url("img/bgd/bg.png");
    z-index: -1;
}

.container-header {
    width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.logo, .toplink, .top-right {
    width: 33.3333333%;
}

.logo, .toplink {
    width: 33.3333333%;
}


/****the logo**********************/

.logo, .logo-title {
    /*background: url('img/logo.svg') no-repeat 0 30%;*/
    width: 300px;
}

.logo {
    height: 100px;
    margin-top: 10px;
}

.logo-tile {
    height: 50%;
}


/*******top menu*********************/

.toplink {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 8em;
}

.top-item a:hover {
    background-color: white;
    border-radius: 5px 5px 5px 0;
}

.top-item a {
    padding: 5px 14px;
    font-size: 18px;
    color: #000;
}


/*********the ticket*********************/

.top-right {
    background-image: url('img/bgd/ticket-repeat.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6em;
    width: 27em;
    margin-left: 10em;
    text-align: center;
    z-index: 0;
}

.country, option {
    float: left;
    margin-top: 5px;
    margin-left: 1.6em;
    padding: 2px 4px 3px 4px;
    background-color: red;
    text-transform: uppercase;
    color: #ffe5e3;
    background-color: #c47b81;
    width: 50px;
    height: 20px;
    font-size: 10px;
}

option {
    opacity: 0.5;
    transition: all 0.3s;
}

.country {
    display: block;
}

.clearfix {
    clear: both;
}

.content-ticket {
    margin-top: 10px;
    background: url('img/bgd/stabilo.png') no-repeat 45% 0;
}

.content-ticket, .buy {
    color: #c47b81;
}

.buy {
    margin-top: 0;
    margin-bottom: 5px;
}

.free-order {
    color: #000;
}

#number {
    float: left;
    margin-top: -10px;
    margin-left: 1em;
    font-size: 3rem;
    font-weight: bold;
    color: #c47b81;
}

.paper {
    text-decoration: underline;
    color: inherit;
}

.torn {
    margin-top: 0.2em;
    width: inherit;
    z-index: -1;
}


/***********nav inside the header**********************/

.container-header, .menu-socks {
    width: 1160px;
    height: 15%;
    display: flex;
    flex-direction: row;
}

.container-header:last-child {
    padding-top: 1em;
    margin-bottom: -0.7em;
}

.menu-socks, .nav-item {
    padding: .4em;
    margin-right: .45em;
    padding-right: 1.34em;
}

.nav-item {
    border-radius: 5px 5px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    color: #a2a2a2;
}

strong {
    color: #a2a2a2 !important;
    font-style: italic;
}

.menu-socks .item {
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 1px solid black;
    border-radius: 10%;
    margin-right: 1em;
}

.item {
    margin-right: 0.3em;
}

.nav-item {
    display: inline-block;
}

.nav-item img {
    width: 58px;
    float: left;
    margin-right: 8px;
}


/*************hover the socks****************/

.sock:hover {
    transition: all .7s linear;
    transform: translateY(-10px);
}


/*****************the text*********************/

.nav-city span strong {
    display: inline-block;
}

strong {
    font-size: 1.42em;
    line-height: 1.2em;
}

.nav-sub {
    font-size: 11px;
    white-space: nowrap;
}

strong, .nav-sub:hover {
    color: black;
}


/******main************/

main {
    width: 1600px;
    height: 3814px;
    display: flex;
    justify-content: center;
    margin-top: -1.9em;
    background: url('img/bgd/bg2.png') no-repeat 0 40%;
}

.container-articles {
    width: 1140px;
    height: 3753px;
    align-self: center;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.col {
    margin-right: 2em;
    padding: 2em;
    padding-top: 0;
    padding-left: 0;
}

.col-pub+.pub {
    padding: 0;
}

.pub {
    max-width: 98%;
    display: inline;
    margin: 0;
}

.price {
    background-image: url("img/bgd/bg.png");
    color: #a3a3a3;
    margin-left: 15em;
    white-space: nowrap;
    padding: 5px 10px;
    min-width: 64px;
    border-radius: 2px;
    font-size: 12px;
}

.product-socks {
    padding-top: 20px;
}


/*********aside the size list****************/

#supersizeme {
    position: fixed;
    right: 25px;
    z-index: 5;
}

#supersizeme .supersizeme-cell {
    color: #4A4A4C;
    background: url("img/bgd/bg.png");
    text-decoration: none;
}

.supersizeme-cell {
    display: block;
    width: 62px;
    height: 26px;
    color: #A3A3A3;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 6px;
    font: 12px Tahoma, sans-serif !important;
    background: url(http://www.archiduchesse.com/themes/axome/css/../img/bg.png);
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(68, 68, 68, 0.08);
}


/*********the list of size under the img*****************/

h1 {
    margin-bottom: 0;
}

.list-size {
    text-align: center;
}

.list-size, .sizes, .size {
    background-color: green;
    display: inline-block;
}

.sizes {
    padding: 0;
}

.size {
    padding: 5px;
}

.top {
    display: inline-block;
    float: left;
    background-color: blue;
}

.clearfix {
    clear: both;
}

.bottom {
    border-top: solid black 1px;
    display: inline-block;
    clear: left;
    float: left;
    background-color: orange;
}

.lign {
    border: 1px solid black;
    transform: rotate(90deg);
    transform: -webkit-rotate(90deg);
}


/*********footer**********************/

#footer-page {
    width: 1600px;
    height: 278px;
    position: absolute;
    top: 5000px;
    padding: 2em;
    background: url("img/bgd/bg.png");
    background-size: contain;
    text-align: center;
}

.footer-container {
    width: 1160px;
    height: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}


/***********inside the footer***************/

[class^="foot-"] {
    align-items: center;
    width: calc(1000px/3);
    height: 75%;
    margin-bottom: 2em;
    margin-right: 3em;
    border: 1px solid gray;
    border-radius: 5px;
}

.footer-nav-img {
    background: url(img/footer/picto_fabrication.png) no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin-top: -1.5em;
}

.foot-first>p {
    text-align: left;
    display: inline;
    margin-left: 114.5px;
}


/*********media query************/

@media (max-width:992px) {
    .container {
        width: 960px;
    }
}

@media (max-width:768px) {
    .container {
        width: 740px;
    }
    body {
      color: green;
    }

    .top-right {
        display: none;
    }
    #supersizeme {
        display: none;
    }
}
