/*************reset******************/

body {
    margin: 0;
    padding: 0;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* a {
  color: gray;
}
/**********header**************************/
#top {
  width: 100vw;
  background-image: url("img/bgd/bg.png");
}
.container {
  padding: 2em;
  padding-bottom: 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.toplink {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span {
max-width: 50%
}

span {
  margin-right: 10px;
  padding: 10px;
}

.shop {
  background: transparent url("img/bgd/ticket-bas.png") no-repeat center bottom;
  top:0;
  margin-top: 2em;
}

.shop a {
  top:0;
  vertical-align: middle;
  background-image: url("img/bgd/ticket-repeat.png");
  padding: 2em;
  text-align: center;
  margin-top: 0;
}

/***********nav inside the header**********************/
nav {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding-bottom: -1.5em;
}

nav .item {
  background-color: rgba(0,0,0,0.1);
  bottom: 1px solid black;
  border-radius: 10%;
  width: calc(100%/6);
}
.item {
  padding-bottom: -0.3em;
}
.nav-item {

}
.nav-item img {
  width: 64px;
  height: 100%;
  float: left;
  margin-right: 5px;
}
.sock {
  top: 0;
  left: 0;
  transform: translateY(-5px);
}
/*************hover the socks****************/
.sock:hover {
  transform: translateY(-10px);
}
/*****************the text*********************/
.nav-city span strong {
  display: inline-block;
}
span {
  font-size: 11px;
  white-space: nowrap;
}


/********************************main*******************************/

main {
    width: 75%;
    float: left;
    padding-right: 5em;
}
